@tailwind base;
@tailwind components;
@tailwind utilities;
@import '../../sass_config.scss';

.footer {
  background-color: $footer-background-color;
  box-shadow: $footer-shadow;
}

.footer-nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 1rem;
}

a {
  color: $footer-nav-color;
  font-size: $footer-nav-font-size;
  margin-right: $footer-nav-margin-right;
  text-decoration: none;
}

.footer-copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  color: $footer-copyright-color;
  font-size: $footer-copyright-font-size;
}
