@tailwind base;
@tailwind components;
@tailwind utilities;


.bg-gray-800 {
    background-color: #2d3748;
  }
  
  .p-4 {
    padding: 1rem;
  }
  
  .text-center {
    text-align: center;
  }
  
  .text-white {
    color: #fff;
  }

