@tailwind base;
@tailwind components;
@tailwind utilities;
@import '../../sass_config.scss';

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: $header-background-color;
  box-shadow: $header-shadow;

  .header-content {
    display: flex;
    align-items: center;

    .header-title {
      font-weight: $header-title-font-weight;
      margin-right: $header-title-margin-right;
    }
  }

  .header-actions {
    display: flex;

    .btn {
      border: $btn-border;
      border-radius: $btn-border-radius;
      padding: $btn-padding;
      margin-left: $btn-margin-left;
      font-weight: $btn-font-weight;
      transition: $btn-transition;

      &:hover {
        cursor: $btn-hover-cursor;
        transform: $btn-hover-transform;
        box-shadow: $btn-hover-shadow;
      }

      &-login {
        background-color: $btn-login-background-color;
        color: $btn-login-color;

        &:hover {
          background-color: $btn-login-hover-background-color;
        }
      }

      &-register {
        background-color: $btn-register-background-color;
        color: $btn-register-color;

        &:hover {
          background-color: $btn-register-hover-background-color;
        }
      }
    }
  }