@tailwind base;
@tailwind components;
@tailwind utilities;
@import '../sass_config.scss';

.ingredient {
  display: $ingredient-display;
  align-items: $ingredient-align-items;
  justify-content: $ingredient-justify-content;
  padding: $ingredient-padding;
  border-bottom: $ingredient-border-bottom;

  p {
    margin: $ingredient-p-margin;
  }

  form {
    display: $ingredient-form-display;
    input[type='text'],
    input[type='number'] {
      padding: $ingredient-form-input-padding;
      margin-right: $ingredient-form-input-margin-right;
    }
    button {
      padding: $ingredient-form-button-padding;
      background-color: $ingredient-form-button-background-color;
      border: $ingredient-form-button-border;
      border-radius: $ingredient-form-button-border-radius;
      &:focus {
        outline: $ingredient-form-button-focus-outline;
      }
    }
  }
}
