@tailwind base;
@tailwind components;
@tailwind utilities;
@import '../sass_config.scss';

.ingredient {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  border-bottom: 1px solid $ingredient-border-color;

  p {
    margin: 0;
  }

  form {
    display: flex;
    input[type='text'],
    input[type='number'] {
      padding: 0.5rem;
      margin-right: 0.5rem;
    }
    button {
      padding: $btn-padding;
      background-color: lightgray;
      border: 1px solid $ingredient-border-color;
      border-radius: $btn-border-radius;
      &:focus {
        outline: none;
      }
    }
  }
}
